*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* flex css start */
/* .flex-container{
   background-color:indianred;
   display:flex;
   flex-direction:row;
   flex-direction:row-reverse;
   flex-direction: column;
   flex-direction:column-reverse;
   flex-wrap: nowrap;
} */

/* .flex-child{
   background-color:wheat;
   margin:20px;
   padding:20px;
   width:100px; 
   text-align:center;
} */

/* .flex-container{
  background-color:indianred;
 display:flex; 
 flex-wrap:wrap; 
 flex-wrap:wrap-reverse;
 flex-flow:row-reverse;
 flex-flow:row wrap;
} */


/* .flex-child{
  background-color: wheat;
  margin: 20px;
  width:100px;
  padding:20px;
  text-align:center; 
} */


/* .flex-container{
  background-color:indianred;
  display:flex; 
  flex-flow:row wrap;
  justify-content:center;
  justify-content:flex-end;
  justify-content:space-evenly;
  justify-content:space-between;
  justify-content:space-between;
  height:400px;
  align-items:center;
  align-items:stretch;
  align-items:flex-start;
  align-items:flex-end;
  align-items:center;
  align-items:stretch;

} */

/* .flex-child{
  background-color:wheat;
  margin:20px;
  padding:20px;
  width:100px;
  text-align:center; 
} */


/* .flex-container{
  background-color:indianred;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  height:400px;
  align-items:stretch;
  flex-flow:wrap-reverse; 
  flex-wrap:wrap;
  align-content:space-between;
  align-content:space-around;
  flex-wrap:wrap;
  align-content:flex-start;
  align-content:flex-end;
  align-items:flex-start;  
  align-items:center;
} */

/* .flex-child{
  background-color:wheat;
  margin:20px;
  padding:20px;
  width:100px;
  text-align:center;
} */





  .flex-container{
  background-color:indianred;
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  height:70vh;
  align-items: center;
  flex-flow: wrap;
  align-content:flex-end;
} 

.flex-child{
  background-color: wheat;
  margin:20px;
  padding:20px;
  width:100px;
  text-align:center; 
}
#one{
order:2;
flex-grow:1;
flex-shrink:7;
align-self:flex-start;
}
#two{
order:3;
flex-grow:3;
flex-shrink:2;
flex-basis:300px;
align-self:center;
}
#three{
order:1;
flex-grow: 1;
flex-shrink:5;
align-self:flex-end;
} 


/* flex css end */










